<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="User" value="VictorG"/>
		<add key="Password" value="12345"/>
		<add key="Local" value="https://www.microsoft.com/en-us/" />
>		<add key="Dev" value="https://www.microsoft.com/en-us/" />
		<add key="QA" value="https://www.microsoft.com/en-us/" />
		<add key="Beta" value="https://www.microsoft.com/en-us/" />
		<add key="Release" value="https://www.microsoft.com/en-us/" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>